
#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#navbar-container {
float: left;
width: 100%;
position: relative;
}

#main-navbar ul {
margin: 0;
padding: 0;
position: relative;
left: 50%;
float: left;
}

#main-navbar ul li {
display: block;
color: #fff;

}

#main-navbar ul li a:hover {
  background-color: #000;
}

#sidebar {
  position: fixed;
  right: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar ul {
padding: 0;
text-align: center;
}

#sidebar ul li a {
display: block;
padding: 15px;
color: #fff;
}

#sidebar ul li a:hover {
  background-color: #000;
}